.location-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1.5rem 0;
}

.location-info input {
  margin-left: 0.5rem;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  text-transform: capitalize;
}

.error-text {
    font-size: .75rem;
    text-transform: capitalize;
    color: rgb(194, 57, 57);
}
