.weather-icon {
    font-size: 20rem;
  }

.cloud-icon {
  color: #F0F1F2;
}

.cloud-showers-heavy-icon {
  color: #538FE9;
}

.snowflake-icon {
  color: #FFFFFF;
}

.circle-icon {
  color: #FFC122;
}

@media (max-width: 415px) { 
  .weather-icon {
    font-size: 8rem;
  }
}  