.weather-icon {
    font-size: 20rem;
  }

.clouds-icon {
  color: #F0F1F2;
}

.rain-icon {
  color: #538FE9;
}

.snow-icon {
  color: #FFFFFF;
}

.clear-icon {
  color: #FFC122;
}

@media (max-width: 415px) { 
  .weather-icon {
    font-size: 8rem;
  }
}  