.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #F8A797;
    color: #424242;
}

h1 {
    width: 50%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20vh;
    right: 20%;
    width: 12.5rem;
    height: 15rem;
}

.umbrella {
    width: 100%;
    height: 40%;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem; 
    border-bottom: 0;
    background-color: #FE585D;
}

.umbrella-bottom {
    display: block;
    width: 20%;
    height: 60%;
}

.umbrella-2 {
    width: 25%;
    height: 70%;
    background-color: #424242;
}

.umbrella-3 {
    width: 100%;
    height: 30%;
    border: 0.625rem solid #424242;
    border-top: 0;
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem; 
}