* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif, normal, normal;
}

body {
  background-color: #FCE19C;
  color: #312915;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

.location-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;

}

.location-info input {
  margin-left: 8px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempeture-info {
  display: flex;
}

.tempeture-info section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.details-section {
  display: flex;
  margin: 1.25rem 0 0;
}

.toggle-button {
  font-size: 1.75rem;
  font-weight: 600;
  color: #312915;
  background: none;
  outline: none;
  border: none;
  margin-top: 2rem;
}

.week-section {
  display: flex;
  margin-top: 2.5rem;
}

.fa-circle {
  font-size: 20rem;
}